body {
    background: rgb(204,204,204); 
  }
div.A4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
div.header>img{
    width: auto;
    height:70px;
}
div.header{
    border-bottom: 4px solid rebeccapurple;
}







  @media print {
    body, div.A4 {
      margin: 0;
      box-shadow: 0;
    }
  }